.banner-info-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 -159px 76px rgba(0, 0, 0, 0.8) inset;
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}
.banner-info-box .card-content {
    color: #fff;
}
