a {
    text-decoration: none;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.invisible {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 0;
    height: 0;
}
a.hashtag {
    text-decoration: none;
    color: var(--bs-gray-600);
}
.server-card-tools{
    display: none;
    position: absolute;
    top: 15px;
    right: -1px;
    background: rgba(255,255,255,0.7);
    padding: 8px 25px;
    text-align: right;
}
.server-card:hover .server-card-tools{
    display: block;
}
